/* .fc {
    position: relative;
    z-index: 0;
}
.myEvent {
    background-color: rgb(223, 207, 190);
} */
.fc-v-event {
    border: none;
    background-color: rgba(223, 207, 190, 0.7);
}
.fc-v-event .fc-event-main {
    color: #1B222D;
}
.team-event .fc-event-main {
    /* color: red !important; */
}
.fc-timegrid-event .fc-event-main {
    padding: 1px 5px;
    /* overflow: hidden; */
    word-break: break-word;
    /* text-overflow: ellipsis; */
}
.fc-timegrid-event-harness-inset .fc-timegrid-event, .fc-timegrid-event.fc-event-mirror, .fc-timegrid-more-link {
    box-shadow: none;
}
.tooltip {
    display: none;
    position: fixed;
    white-space: pre;
    border-radius: 10px;
    padding: 5px;
    font-size: 0.8em;
    color: white;
    background: #1B222D; /*deeppink;*/
    z-index: 1;
}
.tooltip.show {
    display: block;
}