:root {
    --fc-event-border-color: 'transparent';
    --fc-page-bg-color: 'transparent';
}
.fc-timegrid-event-harness {
    padding: 1px 5px;
    overflow: hidden;
    word-break: break-word;
}

.tooltip {
    display: none;
    position: fixed;
    white-space: pre;
    border-radius: 10px;
    padding: 5px;
    font-size: 0.8em;
    color: white;
    background: #1B222D; /*deeppink;*/
    z-index: 1;
}
.tooltip.show {
    display: block;
}